@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* SCSS HEX */
/* SCSS Gradient */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  background: linear-gradient(180deg, #331e36, #41337a, #6ea4bf, #c2efeb, #ecfee8);
  color: #c2efeb;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

::selection {
  background: #c2efeb;
  color: #41337a;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  height: 4vh;
  background-color: #c2efeb;
  font-size: large;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.navbar__link {
  color: #41337a;
  width: 25%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__link:hover {
  background-color: #41337a;
  color: #c2efeb;
  outline: 2px solid #c2efeb;
  outline-offset: -2px;
}
@media only screen and (max-width: 480px) {
  .navbar {
    font-size: medium;
    height: 5vh;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-size: xx-large;
  text-align: center;
  margin: -40px 20px 0px 20px;
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: x-large;
  }
}
@media only screen and (max-width: 480px) {
  .title {
    font-size: large;
  }
}

main {
  margin: 0px 20px;
}

#about {
  font-size: x-large;
}
#about p {
  color: #ecfee8;
}
@media only screen and (max-width: 900px), screen and (max-height: 768px) {
  #about {
    font-size: large;
    text-align: justify;
  }
}

.tech {
  color: #41337a;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(https://wallpaperaccess.com/full/1745055.jpg);
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 -20px;
  padding: 10px 0;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px), screen and (max-height: 768px) {
  .tech {
    height: auto;
  }
  .tech img {
    width: 96px;
  }
}

.projects {
  display: grid;
  gap: 20px;
  grid-template-rows: 10vh repeat(4, 25vh);
  color: #41337a;
  padding-bottom: 20px;
}
.projects h2 {
  align-self: center;
  text-align: center;
  font-size: 40px;
}
.projects > div > a {
  height: 100%;
  max-width: 50%;
}
.projects img {
  max-height: 100%;
  max-width: 100%;
  border: 3px solid #41337a;
  border-radius: 3px;
}
.projects a {
  color: #41337a;
}
.projects div {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects div span {
  width: 50vw;
  padding: 0 10px;
}
.projects--second {
  flex-direction: row-reverse;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .projects {
    grid-template-rows: 5vh repeat(4, auto);
    padding-top: 20px;
  }
  .projects div {
    flex-direction: column;
  }
  .projects div span {
    width: auto;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .projects h2 {
    font-size: 30px;
  }
  .projects > div > a {
    max-width: 75%;
  }
}

#contact {
  padding: 1px 8px;
  background: #41337a;
  text-align: center;
}
#contact svg {
  height: 50px;
}
#contact svg:hover {
  fill: #c2efeb;
}
#contact #email:hover {
  cursor: pointer;
}
