@use "theme";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$xs: 480px;
$sm: 768px;
$md: 900px;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background: theme.$gradient-bottom;
    color: theme.$powder-blue;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

::selection {
    background: theme.$powder-blue;
    color: theme.$dark-slate-blue;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    height: 4vh;
    background-color: theme.$powder-blue;
    font-size: large;
    width: 100%;
    text-align: center;
    font-weight: bold;

    &__link {
        color: theme.$dark-slate-blue;
        width: 25%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: theme.$dark-slate-blue;
            color: theme.$powder-blue;
            outline: 2px solid theme.$powder-blue;
            outline-offset: -2px;
        }
    }
    @media only screen and (max-width: $xs) {
        font-size: medium;
        height: 5vh;
    }
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-size: xx-large;
    text-align: center;
    margin: -40px 20px 0px 20px;
    @media only screen and (max-width: $sm) {
        font-size: x-large;
    }
    @media only screen and (max-width: $xs) {
        font-size: large;
    }
}

main {
    margin: 0px 20px;
}

#about {
    font-size: x-large;
    & p {
        color: theme.$honeydew;
    }
    @media only screen and (max-width: $md), screen and (max-height: $sm) {
        font-size: large;
        text-align: justify;
    }
}

.tech {
    color: theme.$dark-slate-blue;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(https://wallpaperaccess.com/full/1745055.jpg);
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 -20px;
    padding: 10px 0;
    flex-wrap: wrap;

    @media only screen and (max-width: $sm), screen and (max-height: $sm) {
        & img {
            width: 96px;
        }
        height: auto;
    }
}

.projects {
    display: grid;
    gap: 20px;
    grid-template-rows: 10vh repeat(4, 25vh);
    color: theme.$dark-slate-blue;
    padding-bottom: 20px;
    & h2 {
        align-self: center;
        text-align: center;
        font-size: 40px;
    }
    & > div > a {
        height: 100%;
        max-width: 50%;
    }
    & img {
        max-height: 100%;
        max-width: 100%;
        border: 3px solid theme.$dark-slate-blue;
        border-radius: 3px;
    }
    & a {
        color: theme.$dark-slate-blue;
    }
    & div {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
            width: 50vw;
            padding: 0 10px;
        }
    }
    &--second {
        flex-direction: row-reverse;
        text-align: right;
    }

    @media only screen and (max-width: $sm) {
        grid-template-rows: 5vh repeat(4, auto);
        padding-top: 20px;
        & div {
            flex-direction: column;
            & span {
                width: auto;
                text-align: center;
            }
        }
    }
    @media only screen and (max-width: $xs) {
        & h2 {
            font-size: 30px;
        }
        & > div > a {
            max-width: 75%;
        }
    }
}

#contact {
    padding: 1px 8px;
    background: theme.$dark-slate-blue;
    text-align: center;
    & svg {
        height: 50px;
        &:hover {
            fill: theme.$powder-blue;
        }
    }
    & #email:hover {
        cursor: pointer;
    }
}
